html
  header
    link(href='/stylesheets/application.css', rel='stylesheet')
  body
    .content.header
      .container
        .row
          .span9
            h1
              a(href='http://nickbarth.ca/') Nick Barth
            h4 Senior Technical Analyst
          .span3.pull-right.contact-details
            h5 Contact Details
            p
              i.icon-envelope
                | &nbsp;
              | nick@nickbarth.ca
              br
              i.icon-phone
                | &nbsp;
              | +1 (780) 932 4869
              br
              i.icon-home
                | &nbsp;
              | 108 Dorchester Drive,
              br
              i
                | &nbsp;
                | &nbsp;
                | &nbsp;
              | St. Albert, Alberta, Canada
              br
              i
                | &nbsp;
                | &nbsp;
                | &nbsp;
              | T8N 4Y4
        .row
          .span12
            hr
            h3 Summary
            p
              | I am a senior software developer specializing in web server
              | technologies and digital user experience with extensive experience
              | in full stack development and architecture. I've developed
              | scalable server applications, successfully executed on
              | technical strategies increasing revenue and readership, and 
              | designed software solutions targeting a wide range of
              | platforms and industries.
        .row
          .span12
            p
        .row
          .span1
            h1.vert
              | Experience
          .span5
            p.lead <b>Recent History</b>

            p <b>Programmer Analyst III</b>, Servus Credit Union
            p (June 2012 - June 2013), Edmonton, AB
            p
              | As a member of The Village intranet initiative, I was able to act
              | as a leading member on both the design and interface team and
              | the SharePoint development team. My responsibilities included client
              | side javascript based on internal APIs, service level business 
              | logic for SharePoint Web Parts, and Windows Feature Services
              | including business critical ATM and branch geolocation service

            p <b>.NET Technical Consultant</b>, GE Intelligent Platforms
            p (Feb 2012 - June 2012), Edmonton, AB
            p
              | Serving on the UI/UX team for the Mayne MVC.NET project,
              | I was actively involved in designing and developing a real time
              | application used to remotely manage external hardware. My team
              | was responsible for designing a user interface and developing
              | a scalable and secure API consumable by clientside Javascript.

            p <b>Senior Developer</b>, Saputo Dairy Land
            p (Nov 2011 - Feb 2012), Edmonton, AB
            p
              | Working with an international team of developers across Canada
              | and the United States, I was able to work on and develop for
              | a variety of high profile projects including internal point of
              | sales software, ordering systems, and public facing marketing
              | campaign sites. My responsibilities included database design
              | and modeling, frontend design, and full stack development.

            p.lead <b>References</b>
            p <i>Available on Request</i>

          .span1
            h1.vert
              | Qualifications
          .span5
            p.lead
              | <b>Technical Skills</b>
            p
              | <b>Server Software:</b>
              br
              | IIS, SharePoint 2007/2010, Apache, Nginx, APC, Tomcat
            p
              | <b>Languages:</b>
              br
              | Microsoft SQL, Oracle, C#, Ruby, Node, Python, Java, PHP, VB .NET, C++,
              | Javascript, CSS3, HTML5
            p
              | <b>Project Management Tools:</b>
              br
              | Basecamp, SVN, GIT, Mercurial, Team Foundation Server
            p
              | <b>Databases:</b>
              br
              | Oracle, MySQL, PostgreSQL, MSSQL, SQLite3, LINQ, Mongo, Redis, Memcache
            p
              | <b>Hardware:</b>
              br
              | Dedicated Servers, Windows Azure, Amazon Cloud, Rackspace Cloud
            p
              | <b>Applications Software:</b>
              br
              | Team Foundation Server, Power Shell, Bash, Visual Studio .NET, MS Office,
              | Adobe Photoshop, Illustrator, Indesign
            p
              | <b>Industries:</b>
              br
              | Web, Database, Mobile, Server Administration
            p
              | <b>Operating Systems:</b>
              br
              | Windows Server 2008/2010, Red Hat Enterprise, Debian, Ubuntu, Fedora Core, OSX
            p
              | <b>Methodologies:</b>
              br
              | Agile Development, Test Driven Development, Kanban, Scrum, Waterfall

            p.lead <b>Formal Education</b>
            p <b>Grant Macewan University</b>, 2008
            p BSc, Computing Science Specialization

            p <b>Northern Alberta Institute of Technology</b>, 2004
            p CST, Web Technologies Specialization
    .footer
      .container
        .row
          .span12
            h6
              | Nick Barth -
              | <a href="/">Home</a> |
              | <a href="/portfolio">Portfolio</a> |
              | <a href="/resume">Resume</a>
            h6 Copyright &copy; <a href='http://nickbarth.ca/'>Nick Barth</a>
